-c constraints.txt
-e src/intk_vanabbe[test]

zope.testrunner

# Add required add-ons
# (Ideally add them in setup.py for intk_vanabbe)
# collective.easyform

collective.volto.formsupport
collective.volto.cookieconsent
requests
