@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.image-carousel {
  position: relative;
  // margin: 2em 0;

  // .slick-list {
  //   margin: 0 -0.8em !important;
  // }

  .slick-dots {
    bottom: 15px;

    li {
      width: 16px;
      height: 16px;
    }

    li button:before {
      color: var(--background-color);
      font-size: 16px;
      opacity: 1;
    }

    li.slick-active button:before {
      color: var(--text-color);
      opacity: 1;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    padding: 1rem !important;

    .ui.card {
      width: 100%;
      height: 100%;
    }

    > div {
      // equal height cards in slider
      height: 100%;
    }
  }

  .slide-img {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    &:after {
      z-index: 1;
    }

    .ui.placeholder {
      width: 100%;
      max-width: none;
      height: 100%;
      min-height: 250px;
    }

    .card-link {
      height: 100%;
    }

    a:not(.card-link) {
      display: flex;
      max-width: 100%;
      max-height: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }

    img.bg-image {
      width: 100%;
      height: 100%;
      max-height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }
}

.slide-caption {
  > p:first-child {
    margin-top: 1.5em !important;
  }

  p {
    margin-bottom: 1em !important;
    color: var(--text-color);
    font-size: @smallFontSize;
  }
}

.big-carousel {
  .slick-slide {
    padding: 0 !important;
  }
}
