@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.image-gallery {
  .ui.image.bg-image {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
}
