@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.ui.card.presentation-card {
  border-radius: @defaultBorderRadius;
  box-shadow: @globalShadow;
}

.ui.card.presentation-card:hover,
.ui.card.presentation-card:focus {
  box-shadow: @globalShadow;
}

.ui.card.presentation-card .content {
  padding: 1.8rem;
  border: none;
}

.ui.card.presentation-card .content h3 {
  color: @tertiaryColor;
  font-weight: @font-weight-8;
}

.ui.card.presentation-card .presentation-card-image {
  height: auto;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: @defaultBorderRadius !important;
  border-top-right-radius: @defaultBorderRadius !important;
}

.ui.card.presentation-card .content > .description {
  color: @textColor;
  font-size: inherit;
}
