@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.hero-unit-block {
  margin: 3em 0 2em 0;
  margin-right: -@oneWide !important;

  @media only screen and (max-width: @largestMobileScreen) {
    margin-bottom: 0;
  }
}

.hero-unit-wrapper {
  display: flex;
  gap: 2em;
}

.hero-unit-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.hero-unit-wrapper {
  .logo,
  .logo svg {
    height: 100px !important;
  }
}

.hero-unit-image-wrapper.video {
  background-color: #000;

  .hero-unit-content {
    bottom: 5em;
  }
}

.hero-unit-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  transform-origin: left bottom;
  transition: transform 0.5s ease;
}

.normal-hero {
  .hero-unit-title {
    // max-width: 900px;
    margin-bottom: var(--space-sm);
  }

  .logo,
  .logo svg {
    height: 250px !important;

    @media only screen and (max-width: 1080px) {
      height: 160px !important;
    }

    @media only screen and (max-width: 480px) {
      height: 130px !important;
    }
  }

  .hero-unit-image-wrapper {
    height: 380px;
  }
}

.big-hero {
  .logo {
    height: 100px;
  }

  .logo svg {
    height: 100px !important;
    transition: all 1s ease;
  }

  .hero-unit-image-wrapper {
    height: 605px;
    transition: height 1s ease;
  }

  .hero-unit-title {
    display: none !important;
  }
}

.hero-unit-wrapper .hero-logo-wrapper {
  position: relative;
  margin-top: auto;
  direction: rtl;

  .hidden {
    height: 0;
    visibility: hidden;
  }
}

body.view-viewview {
  // .hero-unit-block.big-hero {
  //   .visible .logo svg {
  //     bottom: 3em !important;
  //     transition: all 1s ease;
  //   }
  // }

  .logo-bottom {
    .visible .logo svg {
      transition: all 2.2s ease;
    }
  }

  .visible .logo svg {
    position: fixed;
    z-index: 10;
    pointer-events: none;
  }
}

.hero-unit-content {
  position: absolute;
  bottom: 1.2em;
  left: 1.2em;
  display: inline-block;
  padding: 0.75em 1em;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.homepage-view {
  @media only screen and (max-width: @mobileLandscapeBreakpoint) {
    .hero-unit-block {
      margin-right: 0 !important;
    }
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  .hero-unit-wrapper {
    flex-direction: column;
    gap: 1em;
  }

  .normal-hero {
    .hero-unit-image-wrapper {
      width: 70% !important;
    }
  }

  .big-hero {
    .hero-unit-wrapper {
      .logo,
      .logo svg {
        height: 60px !important;
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .normal-hero .hero-unit-image-wrapper {
    width: 65% !important;
  }

  .big-hero .hero-unit-image-wrapper {
    height: 500px !important;
  }
}

body.homepage-view {
  @media only screen and (max-width: @mobileLandscapeBreakpoint) {
    .hero-unit-block {
      margin-right: 0 !important;
    }
  }
}
