@type: 'component';
@element: 'hero';

@import (multiple) '../../theme.config';

.herosection-wrapper {
  > .ui.grid {
    margin-top: 0 !important;
  }
}

.herosection {
  position: relative;
}

.header-bg.ui.container {
  margin: 0;
}

.herosection-content-image {
  height: 100%;
  min-height: @heroSectionContentImageMinHeight;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: @defaultBorderRadius;
  border-top-right-radius: @defaultBorderRadius;
}

.herosection .content-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  padding: 0 1.8em;
  margin: @heroSectionContentMargin;
  color: @heroSectionContentColor;
  transform: translateY(-50%);
}

.herosection .content-wrapper.caption {
  top: auto;
  bottom: 1.3em;
}

.herosection .content-image-caption {
  font-size: @heroSectionContentImageCaptionFontSize;
  opacity: @heroSectionContentImageCaptionOpacity;
}

.herosection-wrapper {
  @media only screen and (max-width: @largestTabletScreen) {
    .column-offset-1-left {
      margin-left: 0;
    }
  }
}

.loadUIOverrides();
