@type: 'component';
@element: 'hero';

@import (multiple) '../../theme.config';

.herosection-wrapper {
  > .ui.grid {
    margin-top: 0 !important;
  }
}

.herosection {
  position: relative;
}

.header-bg {
  position: relative;
  z-index: 2;
}

.herosection-content-image {
  height: 100%;
  min-height: @heroSectionContentImageMinHeight;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: @defaultBorderRadius;
  border-top-right-radius: @defaultBorderRadius;

  @media only screen and (max-width: @largestTabletScreen) {
    min-height: 273px;
  }
}

.herosection {
  .caption {
    background-color: @white;
  }
}

.herosection .content-image-caption {
  padding: calc(@desktopPadding / 2) @desktopPadding;
  color: var(--text-color);
  font-size: @heroSectionContentImageCaptionFontSize;

  @media only screen and (max-width: @largestTabletScreen) {
    padding-left: 0.6rem;
  }
}

.herosection-wrapper {
  @media only screen and (max-width: @largestTabletScreen) {
    .offset-1-left {
      margin-left: 0;
    }
  }
}

.content-title {
  margin-bottom: var(--space-sm) !important;
}

.content-description {
  font-size: @extraFontSize;

  @media only screen and (max-width: @largestTabletScreen) {
    font-size: 20px;
  }
}

.loadUIOverrides();
