/*******************************
           Document
*******************************/
:root {
  /* -- Spacing -- */
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-s: 24px;
  --space-sm: 32px;
  --space-md: 40px;
  --space-lg: 56px;
  --space-xl: 80px;
  --space-xxl: 160px;

  // --desktop-h1: @desktopH1;
}

html {
  font-size: @fontSize;
}

body {
  position: relative;
  height: auto;
  background-color: var(--background-color, #fff);
  color: @textColor;
  color: var(--text-color, #444);
  font-family: @pageFont;
  font-size: @fontSize;
  letter-spacing: @letterSpacing;
  line-height: @bigLineHeight;
}

p {
  margin-bottom: var(--space-md);
  font-size: @desktopBodyFontSize;
  line-height: @textLineHeight;
}

table p:last-child {
  // fix paragraphs in tables
  margin-bottom: unset;
}

.content-wrapper {
  table p:last-child {
    // fix paragraphs in tables
    margin-bottom: unset;
  }

  p:last-child {
    margin-bottom: var(--space-md);
  }
}

p:empty {
  margin: 0 !important;
}

p:has(+ ul),
p:has(+ ol) {
  margin-bottom: var(--space-xxs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: unset !important;
}

h1 {
  margin-bottom: var(--space-sm);
  font-size: @desktopH1;
  // font-size: ~'min(calc(60vh / 8), var(--desktop-h1)) !important';
  line-height: @smallLineHeight !important;
}

h2 {
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
  font-size: @desktopH2;
  line-height: @mediumLineHeight;
}

h3 {
  margin-top: var(--space-md);
  margin-bottom: var(--space-xxs);
  font-size: @desktopH3;
  line-height: @bigLineHeight;
}

h4 {
  margin-top: var(--space-md);
  margin-bottom: var(--space-xxs);
  font-size: @desktopH4;
  line-height: @bigLineHeight;
}

h5 {
  margin-top: var(--space-md);
  font-size: @desktopH5;
  line-height: @bigLineHeight;
}

ul,
ol {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: var(--space-s);

  li {
    margin-bottom: 1em;
    font-size: @desktopBodyFontSize;
    letter-spacing: @letterSpacing;
    line-height: 1.5em;
    // line-height: @listDesktopLineHeight !important;

    @media only screen and (max-width: @largestTabletScreen) {
      // line-height: @listTabletLineHeight;
    }
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  h1 {
    font-size: @tabletH1;
  }

  h2 {
    font-size: @tabletH2;
  }

  h3 {
    font-size: @tabletH3;
  }

  h4 {
    font-size: @tabletH4;
  }

  h5 {
    font-size: @tabletH5;
  }

  p,
  ul li,
  ol li,
  .ui.list,
  .ui.accordion .title:not(.ui) {
    font-size: @tabletBodyFontSize;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  h1 {
    font-size: @mobileH1;
    letter-spacing: normal;
  }

  h2 {
    font-size: @mobileH2;
  }

  h3 {
    font-size: @mobileH3;
  }

  h4 {
    font-size: @mobileH4;
  }

  h5 {
    font-size: @mobileH5;
  }
}

#view .documentDescription {
  display: none;
}

a {
  color: var(--text-color);
  &:hover {
    text-decoration: underline;
    color: var(--text-color);
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
  }
}
#page-document p>a{
  text-decoration: underline;
}

.controlpanel .ui .grid h3 {
  font-size: @desktopH5;
}

#main {
  display: flex;
  min-height: 100vh;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
}

#page-document {
  position: relative;
  min-height: 300px;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-color);
    content: ' ';
  }
}

.ui.container.tags {
  // background-color: var(--background-color);
  display: none !important;
}

body.view-viewview {
  .documentFirstHeading {
    display: none; // it is displayed as part of the HeroSection
  }
}

#search-tags .ui.label,
.tags .ui.label {
  .secondaryBtn(var(--text-color));
  margin-top: 1em;
  margin-right: 0.5em;
}
