/*******************************
            Footer
*******************************/

.footer {
  padding-top: var(--space-xl);
  background-color: var(--background-color);

  .logo-carousel {
    .logo-slide-img:first-child {
      margin-left: 0;
    }
  }

  @media only screen and (max-width: @largestMobileScreen) {
    padding-top: var(--space-md);
  }
}

.footer-info {
  display: none;
}

.footer-wrapper {
  display: inline-flex;
  align-items: flex-start;
  font-size: @mediumFontSize;
  gap: 40px;

  p,
  a,
  a:hover {
    color: var(--text-color) !important;
    font-size: @mediumFontSize;
  }

  p {
    margin: 0;
  }

  .ui.list {
    min-width: 130px;
    margin: 0;

    .content {
      line-height: @textLineHeight;
    }

    .item {
      padding: 0;
    }
  }

  .section-title {
    margin-top: 0;
    font-size: 13px;

    &:after {
      content: '\200b';
    }
  }

  ul {
    list-style-type: none;
  }
}

.section-title {
  margin: 1em 0;
}

#login,
#login:hover {
  display: block;
  padding: 1.5em 0;
  color: var(--text-color);
  font-size: @mediumFontSize;
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    gap: 30px;
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  .footer-wrapper {
    width: 100%;
    flex-direction: column;
    margin: 0 !important;
  }

  .footer-wrapper .ui.list {
    max-width: none;
  }
}

@media only screen and (min-width: @mobileLandscapeBreakpoint) and (max-width: @largestTabletScreen) {
  .footer-wrapper {
    .social-links {
      .ui.list {
        display: flex;
        align-items: baseline;
        gap: 1em;
      }
    }
  }

  .footer-wrapper .ui.list {
    max-width: none;
  }
}
@media only screen and (max-width: @mobileLandscapeBreakpoint){
  .footer-wrapper {
    .social-links {
      .ui.list {
        display: flex;
        flex-wrap: wrap;
        .item{
          flex-basis: 50%;
        }
      }
    }
  }
}

.view-viewview {
  .footer {
    z-index: 2;
  }
}

// Cookie banner

.cookieConsent {
  align-items: center !important;
  background-color: var(--text-color) !important;
  color: var(--background-color) !important;

  a,
  p {
    color: var(--background-color) !important;
  }

  a {
    &:hover,
    &:focus,
    &:active:focus {
      color: var(--background-color) !important;
      text-decoration: underline;
    }
  }

  button {
    .primaryBtn(var(--background-color)) !important;
    font-family: @pageFont !important;
  }
}
