@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.block.quoteBlock,
.block.quoteBlock-wrapper {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);

  @media only screen and (max-width: @largestTabletScreen) {
    margin: var(--space-lg) 0;
  }

  .icon-wrapper {
    text-align: center;
  }

  .icon-wrapper.top {
    border-top: 1px solid var(--text-color);
  }

  .icon-wrapper.bottom {
    border-bottom: 1px solid var(--text-color);
  }

  p {
    margin: 0;
    font-size: @mobileH1 !important;
    line-height: @smallLineHeight !important;

    @media only screen and (max-width: @largestTabletScreen) {
      font-size: @mobileH2 !important;
      line-height: @smallLineHeight !important;
    }
  }
}
