@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.quoteBlock-wrapper {
  min-height: 3em;
  margin: 3.5em 0;

  p {
    font-size: @mobileH1;

    @media only screen and (max-width: @largestTabletScreen) {
      font-size: @mobileH2;
    }
  }
}
