/*******************************
      Slider Listing
*******************************/

@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slider-listing {
  .slick-slide.slick-active:last-child {
    margin-right: 0em;
  }
}

.block.listing.slider_listing {
  .pagination-wrapper {
    display: none;
  }

  h2.headline {
    display: none;
  }
}

.slider-listing {
  .slick-list {
    margin: 0 -1rem !important;
  }

  .slick-slide {
    padding: 1rem !important;
  }
}

.slider-carousel-container {
  margin: 3em 0;
}

.slider-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.6em 0px;
  transition: opacity 0.2s ease-in-out;

  i.circular.icon {
    .circularIcon(@secondaryColor);
  }

  button {
    padding: 0 !important;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    .isBtn();

    &.hidden {
      visibility: hidden;
    }

    & {
      border-color: transparent;
    }
  }
}
