/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element specify theme name below */

/* Global */
@site        : 'pastanaga';
@reset       : 'pastanaga';

/* Elements */
@button      : 'pastanaga';
@container   : 'pastanaga';
@divider     : 'pastanaga';
@flag        : 'pastanaga';
@header      : 'pastanaga';
@icon        : 'default';
@image       : 'pastanaga';
@input       : 'pastanaga';
@label       : 'pastanaga';
@list        : 'pastanaga';
@loader      : 'pastanaga';
@placeholder : 'pastanaga';
@rail        : 'pastanaga';
@reveal      : 'pastanaga';
@segment     : 'pastanaga';
@step        : 'pastanaga';

/* Collections */
@breadcrumb  : 'pastanaga';
@form        : 'pastanaga';
@grid        : 'pastanaga';
@menu        : 'pastanaga';
@message     : 'pastanaga';
@table       : 'pastanaga';

/* Modules */
@accordion   : 'pastanaga';
@checkbox    : 'pastanaga';
@dimmer      : 'pastanaga';
@dropdown    : 'pastanaga';
@embed       : 'pastanaga';
@modal       : 'pastanaga';
@nag         : 'pastanaga';
@popup       : 'pastanaga';
@progress    : 'pastanaga';
@rating      : 'pastanaga';
@search      : 'pastanaga';
@shape       : 'pastanaga';
@sidebar     : 'pastanaga';
@sticky      : 'pastanaga';
@tab         : 'pastanaga';
@transition  : 'pastanaga';

/* Views */
@ad          : 'pastanaga';
@card        : 'pastanaga';
@comment     : 'pastanaga';
@feed        : 'pastanaga';
@item        : 'pastanaga';
@statistic   : 'pastanaga';

/* Extras */
@main        : 'pastanaga';
@custom      : 'pastanaga';

@hero: 'utrecht';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : './../node_modules/@plone/volto/theme/themes';

/* Path to site override folder */
@siteFolder  : "./theme";
@fontsFolder : "./assets/fonts";

@assetsFolder: "./../../../../../../../theme/assets";

/*******************************
         Import Theme
*******************************/

@import (multiple) "./theme.less";

@fontPath : "../../@{theme}/assets/fonts";

.loadThemeFont(@familyName, @fontName) {
  @font-face {
    font-family: @familyName;
    src: url('@{fontsFolder}/@{fontName}.eot'); /* IE9*/
    src: url('@{fontsFolder}/@{fontName}.eot?#iefix')
        format('embedded-opentype'),
      url('@{fontsFolder}/@{fontName}.woff') format('woff'),
      url('@{fontsFolder}/@{fontName}.ttf') format('truetype');
  }
}

.loadUtrechtFonts() {
  .loadThemeFont ('Precious Sans Two Black', 'Precious Sans Two Black');;
  .loadThemeFont ('Precious Sans Two Black Italic', 'Precious Sans Two Black Italic');;
  .loadThemeFont ('Precious Sans Two Bold', 'Precious Sans Two Bold');;
  .loadThemeFont ('Precious Sans Two Bold Italic', 'Precious Sans Two Bold Italic');;
  .loadThemeFont ('Precious Sans Two Demi Bold', 'Precious Sans Two Demi Bold');;
  .loadThemeFont ('Precious Sans Two Demi Bold Italic', 'Precious Sans Two Demi Bold Italic');;
  .loadThemeFont ('Precious Sans Two Light', 'Precious Sans Two Light');;
  .loadThemeFont ('Precious Sans Two Light Italic', 'Precious Sans Two Light Italic');;
  .loadThemeFont ('Precious Sans Two Medium', 'Precious Sans Two Medium');;
  .loadThemeFont ('Precious Sans Two Medium Italic', 'Precious Sans Two Medium Italic');;
  .loadThemeFont ('Precious Sans Two Thin', 'Precious Sans Two Thin');;
  .loadThemeFont ('Precious Sans Two Thin Italic', 'Precious Sans Two Thin Italic');;
}


/* End Config */
