@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.image-album {
  position: relative;
  width: 482px;
}

.ui.modal.slider-modal {
  background: none !important;
  box-shadow: none;

  .slick-slide {
    > div {
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }

  > .content {
    background: none !important;
  }
}

.slide-image-count {
  text-align: center;
}

.thumbnails {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  gap: 5px;
}

.image-album {
  .ui.huge.image {
    width: 482px;
    max-width: none;
    height: 730px;
    margin-top: -32px;
    border-radius: 6px;

    .backgroundImage();
  }
}

.images-number {
  position: absolute;
  display: flex;
  width: 72px;
  height: 54px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: @white;
  pointer-events: none;

  div {
    width: 100%;
    text-align: center;
  }
}

.img-thumb {
  width: 72px;
  height: 54px;
  border-radius: 6px;

  .backgroundImage();
}

.modal-slide-img {
  width: auto !important;
  max-width: none;
  max-height: 800px !important;
}
