.artwork-view {
  .content-wrapper {
    margin-top: 32px;
    background-color: @white;
  }

  .artwork-top {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 2em;
  }

  .artwork-content {
    padding: 4em;
  }

  .artwork-meta {
    padding: 4em 5.5em 0 3.5em;
  }

  .info p {
    font-size: 16px;
  }

  .social-links {
    font-size: @smallFontSize;

    .ui.list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1em;

      .item {
        padding: 0 !important;
      }
    }
  }
}
