.artwork-view {
  .content-wrapper {
    margin-top: 32px;
    background-color: @white;
  }

  .artwork-container {
    position: relative;
    z-index: 2;
    background-color: @white;
  }

  .artwork-top {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 2em;
  }

  .object-creation {
    margin-bottom: var(--space-xs);
  }

  .object-medium,
  .object-location,
  .acquired,
  .inventory-number {
    font-size: @largeFontSize;
  }

  .artwork-content {
    padding: 4em 0;
  }

  .artwork-meta {
    @media only screen and (min-width: @largestTabletScreen) {
      padding: 4em 5.5em 0 3.5em;
    }
  }

  .info {
    margin-top: var(--space-lg);

    p {
      font-size: 16px;
    }
  }

  .social-links {
    font-size: @smallFontSize;

    .ui.list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1em;

      .item {
        padding: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  .artwork-view {
    .artwork-top {
      flex-direction: column;
    }

    .artwork-meta {
      margin-right: @twoWide;
      margin-left: @oneWide;
    }

    .image-album {
      width: 100%;
    }

    .image-album .ui.huge.image {
      width: 100%;
      height: 497px;
    }
  }
}
