/*******************************
             Blocks
*******************************/

// .block .block:not(.inner)::before {
//   z-index: 1;
// }

.blocks-bg-wrapper {
  padding: var(--space-xl) 0;
  margin-bottom: var(--space-xl);
  background-color: @white;
}

.blocks-wrapper,
.blocks-bg-wrapper {
  > * {
    padding-right: @twoWide;
    padding-left: calc(@oneWide + 0.6rem);
  }

  > .image-carousel,
  > .quoteBlock-wrapper,
  > .accordion-block,
  > .block.listing {
    padding-right: @desktopPadding;
    padding-left: @desktopPadding;
  }
}

/* Accordion block */

.accordion-block {
  .ui.styled.accordion,
  .ui.styled.accordion .accordion {
    background: transparent;
  }

  .ui.styled.accordion {
    border-top: 1px solid var(--text-color) !important;
  }

  .ui.styled.accordion .title,
  .ui.styled.accordion .accordion .title {
    background: transparent;
    color: var(--text-color);
  }

  .ui.styled.accordion .active.title,
  .ui.styled.accordion .title:hover {
    color: var(--text-color);
  }

  .ui.styled.accordion .content,
  .ui.styled.accordion .accordion .content {
    padding: 1.5em @oneWide;
  }
}

/* Image block */

.block.align.left,
.block.align.right {
  z-index: 2 !important;
}

.block.align {
  .image-wrapper {
    .verticalAlign();
    align-items: center;
    text-align: center;
  }

  img,
  .ui.image {
    max-width: 100% !important;
    margin: 0 !important;
    float: none !important;
  }

  &.left {
    .image-wrapper {
      margin-right: 1.5em;
      float: left;
    }

    .image-caption {
      text-align: left;
    }
  }

  &.right {
    .image-wrapper {
      margin-left: 1.5em;
      float: right;
    }

    .image-caption {
      text-align: right;
    }
  }

  &.left,
  &.right {
    img {
      margin: 0 !important;
    }

    .image-wrapper.large,
    .image-wrapper.large {
      max-width: 50%;
    }

    .image-wrapper.medium,
    .image-wrapper.medium {
      max-width: 25%;
    }

    .image-wrapper.small,
    .image-wrapper.small {
      max-width: 15%;
    }
  }

  &.center img {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .image-caption {
    width: 100%;
    margin-top: 10px;
    font-size: @smallFontSize;
    line-height: @mediumLineHeight;
  }
}
