/*******************************
             Blocks
*******************************/

// .block .block:not(.inner)::before {
//   z-index: 1;
// }

.block.align.left,
.block.align.right {
  z-index: 2 !important;
}

.blocks-bg-wrapper {
  padding: var(--space-xl) 0;
  margin-bottom: var(--space-xl);
  background-color: @white;
}

.blocks-wrapper,
.blocks-bg-wrapper {
  > * {
    padding-right: @twoWide;
    padding-left: calc(@oneWide + 0.6rem);
  }

  > .image-carousel,
  > .quoteBlock-wrapper,
  > .accordion-block,
  > .block.listing {
    padding-right: @desktopPadding;
    padding-left: @desktopPadding;
  }
}

/*-----------------------------------------------
   Accordion block
------------------------------------------------*/
.accordion-block {
  .ui.styled.accordion,
  .ui.styled.accordion .accordion {
    background: transparent;
  }

  .ui.styled.accordion {
    border-top: 1px solid var(--text-color) !important;
  }

  .ui.styled.accordion .title,
  .ui.styled.accordion .accordion .title {
    background: transparent;
    color: var(--text-color);
  }

  .ui.styled.accordion .active.title,
  .ui.styled.accordion .title:hover {
    color: var(--text-color);
  }

  .ui.styled.accordion .content,
  .ui.styled.accordion .accordion .content {
    padding: 1.5em @oneWide;
  }
}
