/*******************************
           Document
*******************************/

body {
  background-color: var(--background-color, #fff);
  color: var(--text-color, #444);
}

.ui.container {
  max-width: 70% !important;
}

.controlpanel .ui .grid h3 {
  font-size: @h6;
}
