/*******************************
           Document
*******************************/
:root {
  /* -- Spacing -- */
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-s: 24px;
  --space-sm: 32px;
  --space-md: 40px;
  --space-lg: 56px;
  --space-xl: 80px;
  --space-xxl: 160px;
}

body {
  background-color: var(--background-color, #fff);
  color: var(--text-color, #444);
}

p {
  font-size: @desktopBodyFontSize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset !important;
}

h1 {
  font-size: @desktopH1;
  line-height: @bigLineHeight;
}

h2 {
  font-size: @desktopH2;
  line-height: @mediumLineHeight;
}

h3 {
  font-size: @desktopH3;
  line-height: @smallLineHeight;
}

h4 {
  font-size: @desktopH4;
  line-height: @smallLineHeight;
}

h5 {
  font-size: @desktopH5;
  line-height: @smallLineHeight;
}

@media only screen and (min-width: @widescreenMonitorBreakpoint) {
  p {
    font-size: @desktopLargeBodyFontSize;
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  h1 {
    font-size: @tabletH1;
  }

  h2 {
    font-size: @tabletH2;
  }

  h3 {
    font-size: @tabletH3;
  }

  h4 {
    font-size: @tabletH4;
  }

  h5 {
    font-size: @tabletH5;
  }

  p {
    font-size: @tabletBodyFontSize;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  h1 {
    font-size: @mobileH1;
  }

  h2 {
    font-size: @mobileH2;
  }

  h3 {
    font-size: @mobileH3;
  }

  h4 {
    font-size: @mobileH4;
  }

  h5 {
    font-size: @mobileH5;
  }
}

.documentDescription {
  color: inherit !important;
}

a {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
  }
}

// .ui.container .content-container {
//   max-width: 80% !important;
// }

.controlpanel .ui .grid h3 {
  font-size: @desktopH5;
}
