/*******************************
           Document
*******************************/
:root {
  /* -- Spacing -- */
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-s: 24px;
  --space-sm: 32px;
  --space-md: 40px;
  --space-lg: 56px;
  --space-xl: 80px;
  --space-xxl: 160px;
}

body {
  background-color: var(--background-color, #fff);
  color: var(--text-color, #444);
}

p {
  margin-bottom: var(--space-md);
  font-size: @desktopBodyFontSize;
}

p:empty {
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: unset !important;
}

h1 {
  margin-bottom: var(--space-sm);
  font-size: @desktopH1;
  line-height: @smallLineHeight;
}

h2 {
  margin-bottom: var(--space-lg);
  font-size: @desktopH2;
  line-height: @mediumLineHeight;
}

h3 {
  margin-bottom: var(--space-md);
  font-size: @desktopH3;
  line-height: @bigLineHeight;
}

h4 {
  font-size: @desktopH4;
  line-height: @bigLineHeight;
}

h5 {
  font-size: @desktopH5;
  line-height: @bigLineHeight;
}

ul,
ol {
  margin-top: 0;
  list-style-position: inside;

  li {
    font-size: @desktopBodyFontSize;
    line-height: 46px;
  }
}

@media only screen and (min-width: @widescreenMonitorBreakpoint) {
  p {
    font-size: @desktopLargeBodyFontSize;
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  h1 {
    font-size: @tabletH1;
  }

  h2 {
    font-size: @tabletH2;
  }

  h3 {
    font-size: @tabletH3;
  }

  h4 {
    font-size: @tabletH4;
  }

  h5 {
    font-size: @tabletH5;
  }

  p {
    font-size: @tabletBodyFontSize;
  }

  ul li {
    font-size: @tabletBodyFontSize;
    line-height: 42px;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  h1 {
    font-size: @mobileH1;
  }

  h2 {
    font-size: @mobileH2;
  }

  h3 {
    font-size: @mobileH3;
  }

  h4 {
    font-size: @mobileH4;
  }

  h5 {
    font-size: @mobileH5;
  }

  ul li {
    font-family: @regularFont;
  }
}

.documentDescription {
  color: inherit !important;
}

a {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.controlpanel .ui .grid h3 {
  font-size: @desktopH5;
}

.content-wrapper {
  width: 100%;
  min-height: 600px;
}

body.view-viewview {
  .documentFirstHeading {
    display: none; // it is displayed as part of the HeroSection
  }
}

#search-tags .ui.label,
.tags .ui.label {
  padding: 7px;
  border: 1px solid var(--text-color);
  margin-top: 3em;
  background-color: transparent;
  border-radius: 0;
  color: var(--text-color);
  font-weight: normal;

  &:hover {
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
    color: var(--background-color);
    text-decoration: none;
  }
}
