/*******************************
             Event
*******************************/

.contenttype-event {
  .sticky-heading {
    #description {
      display: flex;
      flex-direction: column-reverse;

      p {
        margin: 0;
      }
    }
  }

  .event-details {
    .event-data.dates {
      margin-bottom: 2em;
    }

    a {
      color: var(--text-color);
    }

    .event-listing {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      gap: 0.8em;

      p {
        margin: 0;
      }

      .event-calendar {
        margin-top: 0.5em;
      }

      .event-data {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.3em;
      }

      i.icon {
        height: auto;
        margin: 0;
        font-size: 1em;
      }
    }
  }

  .event-details.bottom {
    margin-top: var(--space-md);
  }

  .date-wrapper {
    display: flex;
    gap: 20px;
  }

  .content-description {
    margin-bottom: 0.5em;
  }

  .event-details .event-listing li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.3em 0;
    padding-left: 1.8em;
    margin: 0;

    p {
      margin: 0;
    }
  }

  .attendees.ui.list {
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    gap: 0.3em;

    .item {
      padding: 0;
    }
  }

  .event-details .dates {
    .ui.list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;

      .item {
        position: relative;
        padding: 0;

        &:not(:last-child):after {
          display: inline-block;
          padding-right: 10px;
          content: ',';
          visibility: visible;
        }
      }
    }
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  .contenttype-event {
    .event-details {
      .contact-wrapper,
      .date-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
      }
    }
  }
}
