#main .footer {
  display: grid;
  margin-top: 2em;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'footer-top-left  footer-top-right'
    'footer-bottom-left footer-bottom-right';
  grid-template-columns: 40% 1fr;
  grid-template-rows: min-content min-content;

  @media only screen and (max-width: @largestMobileScreen) {
    grid-template-areas:
      'footer-top-left'
      'footer-top-right'
      'footer-bottom-left'
      'footer-bottom-right';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer-bottom-right {
    grid-area: footer-bottom-right;
  }
}

.footer-top-left.footer-top-text {
  padding: 1.25rem;
  padding-bottom: 3rem;
  background-color: @white;
  grid-area: footer-top-left;
}

.footer-top-right.footer-top-menu {
  padding: 1.25rem;
  padding-bottom: 3rem;
  background-color: @greenLight;
  font-size: clamp(1.75rem, 2.25vw, 2.5rem);

  grid-area: footer-top-right;

  .action-links-block {
    display: flex;
    flex-direction: column;
  }

  a {
    color: black;
    font-weight: 200;
  }
}

.footer-bottom-right {
  display: flex;
  flex-direction: column;
  background-color: @primaryColor;

  li {
    display: inline-block;
  }

  .footer-subscribe {
    padding: 4em;

    .footer-extra {
      margin-top: 2em;

      p {
        color: @white;
      }
    }

    h3 {
      margin: 0 0 0.5rem 0;
      color: @white;
      font-size: 1.125rem;
      font-weight: @font-weight-4;
    }

    h2 {
      margin: 0 0 1rem 0;
      color: @white;
      font-size: 2.25rem;
      font-weight: @font-weight-7;
    }
  }

  .links {
    padding: 0.625rem 1.25rem;
    color: @black;

    ul li {
      &:before {
        margin-right: 0.5em;
        color: @white;
        content: '\f105';
        font-family: 'Icons';
      }
    }

    a {
      display: inline-block;
      margin-right: 1rem;
      color: @white;
      font-size: 0.975rem;
      font-weight: @font-weight-6;
    }
  }
}

.footer-contact {
  padding: 0;

  li {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;

    a {
      color: @primaryColor;
    }
  }
}

.ui.button.subscribe {
  background-color: @darkBlue;
  color: @white;
}

.footer-bottom-left {
  position: relative;
  background-color: @black;
  color: @white;
  grid-area: footer-bottom-left;

  p {
    font-size: clamp(0.875rem, 2.25vw, 1rem);
    line-height: clamp(1.026rem, 2.25vw, 1.465rem);
  }

  .footer-image {
    height: auto;
    min-height: 533px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      .darkOverlay();
      content: '';
    }
  }

  .footer-bottom-address {
    position: absolute;
    top: 50%;
    right: 4em;
    display: flex;
    min-width: 250px;
    flex-direction: column;
    font-size: 1.2rem;
    transform: translateY(-50%);

    .footer-social {
      margin-top: auto;

      img {
        width: auto;
        height: 22px;
        margin-top: 1.25rem;
        margin-right: 1.25rem;
      }
    }
  }

  .footer-logo {
    max-width: 100px;
    align-self: flex-start;
  }
}

.footer-bottom {
  padding: 2.5rem 0;
  background-color: #050505;

  .ui.container {
    display: flex;
    justify-content: space-between;

    ul {
      display: inline-flex;
      padding: unset;
      padding-right: 1em;
      margin: 0;
      gap: 1em;

      li {
        list-style-type: none;
      }
    }

    a {
      color: @white;
    }
  }

  .login {
    color: @white;
    font-size: 0.875rem !important;
    font-weight: 300;
  }

  p {
    color: @white;
    font-size: 0.875rem !important;
    font-weight: 300;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  .footer-bottom-left {
    grid-template-columns: 2fr;
  }

  .footer-bottom-address {
    right: 0;
    left: 2em;
    // width: 100%;
    margin: 0 auto;
  }

  .footer-bottom {
    .ui.container {
      flex-direction: column;
      flex-flow: column-reverse;
      text-align: center;
    }
  }

  .footer-bottom-right .footer-subscribe {
    padding: 2em;

    h2 {
      font-size: 1.95rem;
    }
  }
}
