/*******************************
            Footer
*******************************/

.footer {
  z-index: 2;
  padding-top: 2em;
  background-color: var(--background-color);
}

.footer-info {
  display: none;
}

.footer-wrapper {
  display: inline-flex;
  align-items: flex-start;
  font-size: 16px;
  gap: 40px;

  p,
  a,
  a:hover {
    color: var(--text-color) !important;
    font-size: 16px;
  }

  .ui.list {
    min-width: 130px;
    margin: 0;
  }

  .section-title {
    margin-top: 0;
    font-size: 13px;

    &:after {
      content: '\200b';
    }
  }

  .email {
    font-size: @smallFontSize !important;
  }

  ul {
    list-style-type: none;
  }
}

.section-title {
  margin: 1em 0;
}

.login,
.login:hover {
  display: block;
  margin: 1.5em 0;
  color: var(--text-color);
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    gap: 30px;
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  .footer-wrapper {
    width: 100%;
    flex-direction: column;
    margin: 0 !important;

    .social-links {
      .ui.list {
        display: flex;
        align-items: baseline;
        gap: 1em;
      }
    }
  }

  .footer-wrapper .ui.list {
    max-width: none;
  }
}
