/*******************************
            Header
*******************************/

@headerMaxWidth: 1400px;

.header-container {
  position: relative;
}

.header-out-of-view {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
}

.homepage {
  .logo img {
    width: 408px;
  }
}

.logo-wrapper {
  // width: 100%;
  // height: 100%;

  .logo {
    position: fixed;
    // position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, 0);
  }
}

.header-wrapper {
  .header {
    .horizontalAlign();
    width: 100%;
    padding: 0 1.5em;
    background-color: var(--background-color);

    .ui.container {
      display: flex;
    }

    .right-section {
      display: flex;
      align-items: flex-end;
      margin-left: auto;
      gap: 1.3em;

      .ui.button {
        color: @wood !important;
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }
}

/*-----------------------------------------------
   Language selector
------------------------------------------------*/

.language-selector {
  display: flex;
  color: @secondaryColor;
  cursor: pointer;

  .ui.dropdown {
    > span {
      .horizontalAlign();
    }

    .menu {
      border: none;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1) !important;

      > .item {
        &:not(:last-child) {
          border-bottom: 1px solid #d9e7db;
        }

        &:hover {
          background: none;
        }
      }
    }

    i.dropdown.icon {
      display: none;
    }
  }

  a {
    color: @secondaryColor;

    &:not(:last-child):after {
      color: @secondaryColor;
    }
  }

  a.selected,
  a:hover {
    color: @primaryColor;
  }

  svg {
    margin-right: 0.3em;
  }
}

body.has-toolbar.has-sidebar {
  .header-wrapper.header-out-of-view {
    .stickyHeaderWidth(@toolbarWidth, (@toolbarWidth + @sidebarWidth));
  }
}

body.has-toolbar.has-sidebar-collapsed {
  .header-wrapper.header-out-of-view,
  .mobile-menu,
  .popup-menu {
    .stickyHeaderWidth(@toolbarWidth, (@toolbarWidth + @collapsedSidebarWidth));
  }
}

body.has-toolbar:not(.has-sidebar):not(.has-sidebar-collapsed) {
  .header-wrapper.header-out-of-view,
  .mobile-menu,
  .popup-menu {
    .stickyHeaderWidth(@toolbarWidth, @toolbarWidth);
  }
}

body.has-toolbar-collapsed.has-sidebar {
  .header-wrapper.header-out-of-view,
  .mobile-menu,
  .popup-menu {
    .stickyHeaderWidth(@toolbarWidthMin, (@sidebarWidth + @collapsedSidebarWidth));
  }
}

body.has-toolbar-collapsed.has-sidebar-collapsed {
  .header-wrapper.header-out-of-view,
  .mobile-menu,
  .popup-menu {
    .stickyHeaderWidth(@toolbarWidthMin, (@toolbarWidthMin + @collapsedSidebarWidth));
  }
}

body.has-toolbar-collapsed:not(.has-sidebar):not(.has-sidebar-collapsed) {
  .header-wrapper.header-out-of-view,
  .mobile-menu,
  .popup-menu {
    .stickyHeaderWidth(@toolbarWidthMin, @toolbarWidthMin);
  }
}

@media only screen and (max-width: 767px) {
  .header-wrapper.header-out-of-view,
  .mobile-menu,
  .popup-menu {
    .stickyHeaderWidth(0px, 0px) !important;
  }

  body.has-toolbar {
    .header-wrapper.header-out-of-view {
      top: 100px;
    }
  }

  body.has-toolbar-collapsed {
    .header-wrapper.header-out-of-view {
      top: 20px;
    }
  }
}

/*-----------------------------------------------
   Others
------------------------------------------------*/

body.has-toolbar-menu-open {
  overflow: hidden;
}
