/*******************************
          Listings
*******************************/

@cardBg: transparent;

.listing-card.default-card {
  height: 380px;
  background-color: var(--card-bg-color, @white);
  border-radius: 6px;

  .card-link {
    display: block;
    height: 100%;
    color: var(--text-color);

    &:hover {
      text-decoration: none;

      .card-title {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }

      .image-wrapper img {
        transform: scale(1.2);
      }
    }
  }

  .card-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 16px;
  }

  .card-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    font-size: @smallFontSize;
    // text-transform: capitalize;

    > * {
      margin-right: 15px;
    }
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: @largeMobileFontSize;
    overflow-wrap: break-word;
    .elipsisOverflow(3);
  }

  .card-description {
    .elipsisOverflow(2);
    margin-top: auto;
    margin-bottom: 0;
    font-size: @smallFontSize;
    line-height: @bigLineHeight;
  }

  .image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 2;
    margin-bottom: 16px;

    img {
      width: 100%;
      min-width: 100%;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
      transition: transform 0.5s ease;
    }
  }
}

.card-bottom {
  display: flex;
  min-height: 40px;
  margin-top: auto;

  p {
    margin-top: auto;
  }
}

.listings.big-cards {
  .listing-column-one {
    .listing-card.default-card {
      height: 450px;
    }

    .card-details {
      gap: 1.2em !important;
    }

    .listing-card.default-card {
      .card-title {
        font-size: @desktopH2;
      }

      .card-meta {
        font-size: @desktopH4;
      }

      .image-wrapper {
        margin-bottom: 30px;
      }

      .card-details {
        .card-content .card-description {
          margin-top: auto;
          font-size: @largeFontSize;
        }

        .date {
          font-size: @largeFontSize;
        }
      }
    }
  }

  .image-wrapper-mobile {
    display: none;
    @media only screen and (max-width: @largestTabletScreen) {
      display: block;
    }
  }

  .image-wrapper-desktop {
    display: block;
    @media only screen and (max-width: @largestTabletScreen) {
      display: none;
    }
  }
}

.listing-header {
  h2,
  h3 {
    margin: 0 !important;
  }
}

.block.listing {
  .listing-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: var(--space-md) !important;

    &:empty {
      margin: 0 !important;
    }

    @media only screen and (max-width: @largestTabletScreen) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: var(--space-sm) !important;
      gap: 0.5em;

      .link-more {
        margin-top: 0;
      }
    }
  }
}

.listings.big-cards {
  .listing-card.default-card {
    height: 360px;

    .card-title {
      font-size: @extraFontSize;
    }

    .card-meta {
      font-size: @desktopH5;
    }

    .card-details {
      display: flex;
      height: 100%;
      flex-direction: row;
      padding: 24px;
      gap: 1em;

      @media only screen and (max-width: @largestTabletScreen) {
        flex-direction: column;
        padding: 16px;

        > div {
          width: 100% !important;
        }
      }

      .date {
        font-size: @bigFontSize;
      }

      > div {
        width: 50%;
      }

      .card-content {
        display: flex;
        height: 100%;
        flex-direction: column;

        .card-description {
          margin-top: auto;
          font-size: @bigFontSize;
        }
      }
    }

    .card-title {
      margin-bottom: 15px;
      .elipsisOverflow(3);
    }
  }
}

.listing-card {
  .image-container {
    .link-img-wrapper {
      display: block;
    }

    img {
      width: 100%;
      min-width: 100%;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media only screen and (max-width: @mobileLandscapeBreakpoint) {
  .big-cards .ui.grid .column.listing-column {
    width: 100% !important;
  }
}

.listing-card.event-card {
  .date {
    font-size: @smallFontSize;
  }
}

/********   Listings   ********/
.listing-item img {
  margin-right: unset;
}

#content-core {
  & > .listings {
    margin-top: 2em;
  }
}

/********  Simple links listing   ********/

.simplelinks-content {
  .simplelink-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    font-size: 40px;
    gap: 1.2em;

    span {
      .elipsisOverflow(2);
      width: 600px;
    }

    svg {
      flex-shrink: 0;
      margin-top: 10px;
    }

    @media only screen and (max-width: @largestTabletScreen) {
      font-size: 30px;

      span {
        width: 100%;
      }

      svg {
        height: 35px !important;
        margin-top: 0;
      }
    }

    @media only screen and (max-width: @largestMobileScreen) {
      font-size: 25px;
    }
  }
}

.pagination-wrapper .ui.button.load-more {
  display: flex !important;
  height: 48px;
  align-items: center;
  margin: 4em auto;
  font-size: 19px;
  gap: 15px;
  text-transform: lowercase;

  svg {
    margin: 0 !important;
  }
}

@media only screen and (max-width: @largestTabletScreen) {
  .listing-card.default-card {
    .card-meta,
    .card-description {
      font-size: @mediumFontSize !important;
    }
  }

  .listings.big-cards {
    .listing-column-one {
      .listing-card.default-card {
        height: 496px;
      }

      .listing-card.default-card {
        .card-title {
          margin-bottom: var(--space-xl);
          font-size: @mobileH2 !important;
        }

        .card-details {
          .card-content .card-description {
            font-size: @tabletH5 !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: @mobileLandscapeBreakpoint) {
  .listing-card.default-card {
    .card-title {
      font-size: @largeMobileFontSize !important;
    }

    .card-description {
      font-size: @bigFontSize !important;
    }
  }
}
