/*******************************
          Listings
*******************************/

@cardBg: transparent;

.listing-card {
  .image-container {
    .link-img-wrapper {
      display: block;
    }

    img {
      width: 100%;
      min-width: 100%;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
    }
  }
}

.listing-card.default-card {
  height: 380px;
  background-color: @white;

  .card-link {
    display: block;
    height: 100%;
    padding: 16px;
  }

  .card-details {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .card-title {
    .elipsisOverflow(3);
  }

  .card-description {
    .elipsisOverflow(2);
    margin-bottom: 0;
    font-size: @smallFontSize;
  }

  .image-wrapper {
    height: 100%;
    height: 100px;
    flex: 2;
    margin-bottom: 1em;

    img {
      width: 100%;
      min-width: 100%;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
    }
  }
}

// .listing-card.default-card,
// .listing-card.newsitem-card {
//   &:hover img {
//     opacity: 0.5;
//   }

//   a {
//     display: block;
//   }

//   .image-container {
//     border-radius: 10px;

//     .link-img-wrapper {
//       height: 200px;
//       background: #000;
//     }
//   }
// }

/********   Listings   ********/
.listing-item img {
  margin-right: unset;
}

#content-core {
  & > .listings {
    margin-top: 2em;
  }
}
