/*******************************
            Search
*******************************/

.section-search #page-search {
  margin-top: 4em;

  .search-header {
    .horizontalAlign();
    justify-content: space-between;
    margin-bottom: 3em;

    .items_total {
      margin: 0;
    }

    .button-sort,
    .sort-by,
    .button-active {
      color: var(--text-color);
    }

    .button-sort {
      padding-right: 5px;
      margin-left: 5px;

      &:before {
        z-index: 1;
        border-color: var(--text-color);
      }
    }
  }

  .tileItem {
    margin-bottom: 4em;
  }
}

/********   Header Search widget   ********/

.open-search {
  overflow: hidden;

  .fixed-logo {
    display: none;
  }

  .popup-bottom {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;

    margin-bottom: 15em;

    gap: 2.5em;

    .logo {
      position: relative;
      top: auto;
      margin-left: auto;
      transform: none;

      @media only screen and (max-width: @largestTabletScreen) {
        position: absolute;
        right: 1em;
        bottom: 3.2em;
      }
    }

    .logo,
    .logo a {
      color: var(--text-color);
    }

    .ui.form {
      width: 100%;
      background-color: transparent;
    }
  }
}

#page-search-widget,
.popup-menu {
  .searchbox.field {
    padding: 0;
    border-bottom: 1px solid var(--text-color) !important;
    border-left: none !important;
    background-color: transparent;
    border-radius: 0;

    .ui.input input {
      color: var(--text-color);
      font-size: @desktopH1;
      font-weight: normal;

      @media only screen and (max-width: @largestTabletScreen) {
        font-size: 50px;
      }

      @media only screen and (max-width: @largestMobileScreen) {
        font-size: 30px;
      }

      @media only screen and (max-width: @mobileLandscapeBreakpoint) {
        font-size: 20px;
      }

      &::placeholder {
        color: var(--text-color);
        opacity: 0.5;
      }
    }
  }
}

#page-search-widget {
  margin-bottom: 2em;
}

#search-tags {
  display: flex;
  margin: 2em 0;
  gap: 0.25rem;
}

.search-results-count {
  font-size: @h2;

  strong {
    color: var(--text-color);
  }
}
