/*******************************
            Search
*******************************/

.has-search-overview {
  .search-overview {
    padding-right: @twoWide;
    padding-left: calc(@oneWide + 0.6rem);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);

    .navigator {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 1em;
      row-gap: 0.5em;
    }
  }

  .sticky-heading {
    display: none !important;
  }
}

.section-search #page-search {
  margin-top: 4em;

  .search-header {
    .horizontalAlign();
    justify-content: space-between;
    margin-bottom: 3em;

    .items_total {
      margin: 0;
    }

    .button-sort,
    .sort-by,
    .button-active {
      color: var(--text-color);
    }

    .button-sort {
      padding-right: 5px;
      margin-left: 5px;

      &:before {
        z-index: 1;
        border-color: var(--text-color);
      }
    }
  }

  .tileItem {
    margin-bottom: 4em;
  }
}

/********   Header Search widget   ********/

.open-search {
  overflow: hidden;

  .fixed-logo {
    display: none;
  }

  .popup-bottom {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;

    margin-bottom: 15em;

    gap: 2.5em;

    .logo {
      position: relative;
      top: auto;
      margin-left: auto;
      transform: none;

      @media only screen and (max-width: @largestTabletScreen) {
        position: absolute;
        right: 1em;
        bottom: 3.2em;
      }
    }

    .logo,
    .logo a {
      color: var(--text-color);
    }

    .ui.form {
      width: 100%;
      background-color: transparent;
    }
  }
}

#page-search-widget,
.popup-menu {
  .searchbox.field {
    padding: 0;
    border-bottom: 1px solid var(--text-color) !important;
    border-left: none !important;
    background-color: transparent;
    border-radius: 0;

    .ui.input input {
      color: var(--text-color);
      font-size: @desktopH1;
      font-weight: normal;

      @media only screen and (max-width: @largestTabletScreen) {
        font-size: 50px;
      }

      @media only screen and (max-width: @largestMobileScreen) {
        font-size: 30px;
      }

      @media only screen and (max-width: @mobileLandscapeBreakpoint) {
        font-size: 20px;
      }

      &::placeholder {
        color: var(--text-color);
        opacity: 0.5;
      }
    }
  }
}

#page-search-widget {
  margin-bottom: 2em;
}

#search-tags {
  display: flex;
  margin: 2em 0;
  gap: 0.25rem;
}

.search-results-count {
  font-size: @h2;

  strong {
    color: var(--text-color);
  }
}

/********   Search block   ********/

.block.search {
  .search-details,
  .search-input-actions .ui.button {
    color: var(--text-color) !important;
    opacity: 0.5;
  }

  .search-sort-wrapper {
    margin-left: auto;
  }

  .facets {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    row-gap: 2.5em;
  }

  .filters-btn {
    display: flex;
    align-items: center;
    padding: calc(0.38em - 2px) calc(1.2em - 2px) !important;
    border: 2px solid var(--text-color);
    font-size: @mediumFontSize;
    text-transform: lowercase;

    &:active,
    &:focus,
    &:hover {
      color: var(--text-color);
    }

    svg {
      margin: 0 !important;
    }
  }

  .button-facet {
    .ui.header {
      color: var(--text-color);
      font-size: @mediumFontSize;
      text-transform: lowercase;
    }

    .entries {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1em;
      row-gap: 0.5em;
    }

    .ui.checkbox:not(.radio):not(.toggle) {
      .secondaryBtn(var(--text-color));
      padding: 0.48em 0.75em;
      font-size: @mediumFontSize;
      text-transform: lowercase;

      &:hover {
        background-color: var(--background-color);
      }

      label {
        padding: 0;
        padding-right: 2.3em !important;
        color: var(--text-color);

        &:before {
          display: none; // hide box
        }

        &:after {
          top: -4px;
          right: 0;
          left: auto;
          width: auto;
          height: 100%;
          color: var(--text-color);
          content: '+' !important;
          font-size: 38px !important;
          opacity: 1;
        }
      }

      &.checked {
        border: 2px solid var(--text-color);
        background-color: var(--text-color);

        label {
          color: var(--background-color);

          &:after {
            top: -3px;
            color: var(--background-color);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
