/*******************************
            Search
*******************************/

#page-search {
  .search-header {
    .horizontalAlign();
    justify-content: space-between;
    margin-bottom: 3em;

    .ui.header {
      font-family: @pageFont;
    }

    .items_total {
      margin: 0;
    }

    .button-sort {
      font-family: @pageFont;

      &:before {
        z-index: 1;
      }
    }
  }
}

/********   Header Search widget   ********/
.hover-menu.search-widget {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: @darkWhite;

  .hover-menu-inner {
    position: relative;
    top: 50%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  .ui.form {
    background-color: transparent;
  }
}

.field.searchbox {
  display: flex;
  padding: 1.3rem 0.8rem !important;
  border: none !important;
  background: @white;
  border-radius: 35px;

  .ui.input input {
    margin-left: 2rem;
    color: @grey !important;
    font-family: @fontName;
    font-size: 0.9375rem;
    line-height: 4.875rem;
  }

  svg {
    fill: @midWhite;
  }
}

.search-wrapper {
  .ui.button {
    padding: 0.7rem 1rem !important;
    line-height: 1rem !important;

    svg {
      margin: 0 !important;
    }
  }
}

#page-search-widget {
  margin-bottom: 2em;

  .field.searchbox {
    border: 1px solid @midWhite !important;
  }
}

#search-tags {
  display: flex;
  margin: 2em 0;
  gap: 0.25rem;
}

.search-results-count {
  font-size: @h2;

  strong {
    color: @primaryColor;
  }
}
