:root {
  --text-color: #1f434b;
  --background-color: #eff0dc;
}

body[data-theme='contrast-mode'] {
  --text-color: @black;
  --background-color: @white;
}

body[data-theme='yellow'] {
  --text-color: #1b685d;
  --background-color: #fff18a;
}

body[data-theme='olive'] {
  --text-color: #3500a8;
  --background-color: #a4d09a;
}

body[data-theme='lemon'] {
  --text-color: #375c08;
  --background-color: #ebff74;
}

body[data-theme='ivory'] {
  --text-color: #2c4e54;
  --background-color: #eff0dc;
}

body[data-theme='dandelion'] {
  --text-color: #7211ae;
  --background-color: #ffde8a;
}

body[data-theme='bubbles'] {
  --text-color: #c50d93;
  --background-color: #e8fffb;
}

body[data-theme='snow'] {
  --text-color: #ab1515;
  --background-color: #fff8fc;
}

body[data-theme='turquoise'] {
  --text-color: #510b0b;
  --background-color: #5cccbb;
}

body[data-theme='sunny'] {
  --text-color: #70008f;
  --background-color: #f5ff83;
}

body[data-theme='misty'] {
  --text-color: #422100; // search page
  --background-color: #b6bb77;
}

body[data-theme='light-green'] {
  --text-color: #a04c1e;
  --background-color: #bdff9e;
}

body[data-theme='pink'] {
  --text-color: #15423d;
  --background-color: #ffc2c2;
}

body[data-theme='lavender'] {
  --text-color: #061df0; // collection page (kunstenaars)
  --background-color: #e0c9ff;
}

body[data-theme='peach'] {
  --text-color: #255226;
  --background-color: #ffcebe;
}

body[data-theme='lime'] {
  --text-color: #7211ae;
  --background-color: #e7ff9e;
}

body[data-theme='flamingo'] {
  --text-color: #4f00cf;
  --background-color: #fee2e2;
}

body[data-theme='sky'] {
  --text-color: #061df0;
  --background-color: #dbf9fd;
}

body[data-theme='mint'] {
  --text-color: #0e3dab;
  --background-color: #b6ffbd;
}

body[data-theme='cyan'] {
  --text-color: #7211ae;
  --background-color: #5cccbb;
}

body[data-theme='lilac'] {
  --text-color: #16554f;
  --background-color: #dbc2ff;
}

body[data-theme='blush-pink'] {
  --text-color: #2e096a;
  --background-color: #fee2e2;
}

body[data-theme='smoke'] {
  --text-color: #ab1515;
  --background-color: #ab1515;
}

body[data-theme='almond'] {
  --text-color: #422100; // archief search page
  --background-color: #e0e1d0;
  --page-logo-color: #1a1313;
  --card-footer-color: #000;
}

body[data-theme='pale-green'] {
  --text-color: #70008f;
  --background-color: #cce7d2;
}

//

body[data-theme='default'] {
  --text-color: #1f434b;
  --background-color: #eff0dc;
}

body[data-theme='beige'] {
  --text-color: #1f434b;
  --background-color: #eff0dc;
}

body[data-theme='blue'] {
  --text-color: #031367;
  --background-color: #ecf3ff;
}

body[data-theme='latte'] {
  --text-color: #700e0e;
  --background-color: #fffae8;
}

body[data-theme='topaz'] {
  --text-color: #0e3dab; // artist page
  --background-color: #ffca7a;
}

body[data-theme='aqua'] {
  --text-color: #7211ae; // archief -> details page
  --background-color: #67d0c2;
}

body[data-theme='orange'] {
  --text-color: #7211ae; // archief/search page -> details page
  --background-color: #ffca7a;
}

body[data-theme='marine'] {
  --text-color: #560d5e;
  --background-color: #67d0c2;
}

body[data-theme='summer'] {
  --text-color: #375c08;
  --background-color: #ebff74;
}

body[data-theme='rose'] {
  --text-color: #4f00cf;
  --background-color: #ffcebe;
}

body[data-theme='melon'] {
  --text-color: #184942;
  --background-color: #ffb4b4;
}

body[data-theme='sand'] {
  --text-color: #1f434b;
  --background-color: #eff0dc;
}
